.direction{
    color: darkorchid;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}
.form{
    display: inline-flex;
    flex-direction: column;
    background-color: darkgray;
    padding: 50px;
    border-radius:3% ;
}
.name{
    margin-bottom: 5px;
    font-size: 20px;
}
.textarea{
    font-size: 20px;
}
.telephone{
    margin-bottom: 5px;
    font-size: 20px;
}
.email{
    margin-bottom: 5px;
    font-size: 20px;
}
.messageBtn{
    padding: 10px;
    border-radius: 5px;
    background-color: cyan;
    border: 0;
}
.error{
    color: red;
    font-size: 18px;
}